<%= bootstrap_form_for(user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.password_field :password, id: :user_password %>
  </div>

  <div class="field">
    <div class="form-group">
      <label class="control-label" for="user_permission_level">Permission</label>
        <select class="form-control" name="user[permission_level]" id="user_permission_level">
          <option value="0">User - Read access to locations and ability to stock take</option>
          <option value="1">Report User - User with access to reports</option>
          <option value="2">Administrator - Full access</option>
        </select>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
