<p id="notice"><%= notice %></p>

<h1>Item Expiries</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Expiry date</th>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_expiries.each do |item_expiry| %>
      <tr>
        <td><%= item_expiry.item %></td>
        <td><%= item_expiry.expiry_date %></td>
        <td><%= item_expiry.count %></td>
        <td><%= link_to 'Show', item_expiry %></td>
        <td><%= link_to 'Edit', edit_item_expiry_path(item_expiry) %></td>
        <td><%= link_to 'Destroy', item_expiry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item Expiry', new_item_expiry_path %>
