<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @item_expiry.item %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @item_expiry.expiry_date %>
</p>

<p>
  <strong>Count:</strong>
  <%= @item_expiry.count %>
</p>

<%= link_to 'Edit', edit_item_expiry_path(@item_expiry) %> |
<%= link_to 'Back', item_expiries_path %>
