<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.text_field :location_id, id: :item_location_id %>
  </div>

  <div class="field">
    <%= form.label :stock_item %>
    <%= form.collection_select :stock_item_id, @stock_items, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :required %>
    <%= form.number_field :required, id: :item_required %>
  </div>

  <div class="field">
    <%= form.label :order_to %>
    <%= form.number_field :order_to, id: :item_order_to %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
