<p>
  <strong>Location:</strong>
  <%= @item.location.name %>
</p>

<p>
  <strong>Stock item:</strong>
  <%= @item.stock_item.name %>
</p>

<p>
  <strong>Required:</strong>
  <%= @item.required %>
</p>

<p>
  <strong>Order to:</strong>
  <%= @item.order_to %>
</p>

<p>
  <strong>Current:</strong>
  <%= @item.item_summary.total %>
</p>

<h2>Audits</h2>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Time</th>
      <th>Expiry Date</th>
      <th>Count</th>
    </tr>
  </thead>

  <tbody>
    <% @audits.each do |audit| %>
      <tr>
        <% if audit.user.present? %>
          <td><%= audit.user.name %></td>
        <% else%>
          <td>System</td>
        <% end %>

        <td><%= audit.created_at.strftime("%c") %></td>
        <% if audit.auditable.present? %>
          <td><%= audit.auditable.expiry_date %></td>
          <td><%= 0 %></td>
        <% else %>
          <td><%= audit.audited_changes["expiry_date"] %></td>
          <td><%= audit.audited_changes["count"] %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
