<p>
  <strong>Location:</strong>
  <%= @item.location.name %>
</p>

<p>
  <strong>Stock item:</strong>
  <%= @item.stock_item.name %>
</p>

<p>
  <strong>Required:</strong>
  <%= @item.required %>
</p>

<p>
  <strong>Order to:</strong>
  <%= @item.order_to %>
</p>

<p>
  <strong>Current:</strong>
  <%= @item.item_summary.total %>
</p>

<h2>Audits</h2>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Expiry Date</th>
      <th>Previous Count</th>
      <th>New Count</th>
    </tr>
  </thead>

  <tbody>
    <% @audits.each do |audits| %>
      <tr>
      </tr>
    <% end %>
  </tbody>
</table>
