<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @item.location.name %>
</p>

<p>
  <strong>Stock item:</strong>
  <%= @item.stock_item.name %>
</p>

<p>
  <strong>Required:</strong>
  <%= @item.required %>
</p>

<p>
  <strong>Order to:</strong>
  <%= @item.order_to %>
</p>

<h2>Expiries</h2>
<%= render 'item_expiries/table', item_expiries: @item.item_expiries %>

<%= link_to 'Edit', edit_item_path(@item) %>
