<%= bootstrap_form_for(stock_item) do |form| %>
  <%# Display errors %>
  <% if stock_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock_item.errors.count, "error") %> prohibited this stock_item from being saved:</h2>

      <ul>
      <% stock_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# Render input fields for all attributes %>
  <div class="field">
    <%= form.text_field :item_code, id: :stock_item_item_code %>
  </div>

  <div class="field">
    <%= form.text_field :name, id: :stock_item_name %>
  </div>

  <div class="field">
    <%= form.check_box :expires, id: :stock_item_expires, disabled: !stock_item.new_record? %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
