<%= form_with(model: stock_item, local: true) do |form| %>
  <% if stock_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock_item.errors.count, "error") %> prohibited this stock_item from being saved:</h2>

      <ul>
      <% stock_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :stock_item_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :stock_item_description %>
  </div>

  <div class="field">
    <%= form.label :supplier %>
    <%= form.text_field :supplier, id: :stock_item_supplier %>
  </div>

  <div class="field">
    <%= form.label :expires %>
    <%= form.check_box :expires, id: :stock_item_expires, disabled: !stock_item.new_record? %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
