<h1>Stock Items</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Item Code</th>
      <th>Expires</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% @stock_items.each do |stock_item| %>
      <tr class="clickable-row" data-url="<%= url_for(stock_item) %>">
        <td><%= stock_item.name %></td>
        <td><%= stock_item.item_code %></td>
        <td><%= stock_item.expires ? "Yes" : "No" %></td>
        <td><%= stock_item.stock_item_summary.total %> (<%= stock_item.stock_item_summary.total_all %>)</td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, StockItem %>
  <%= link_to 'New Stock Item', new_stock_item_path %>
<% end %>
