<p id='notice'><%= notice %></p>

<h1>Stock Items</h1>

<table class='table'>
  <thead>
    <tr>
      <th class='border columnwidth'>Name</th>
      <th class='border columnwidth'>Description</th>
      <th class='border columnwidth'>Supplier</th>
      <th class='border'>Expires</th>
      <th class='border' colspan='3'></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_items.each do |stock_item| %>
      <tr>
        <td><%= stock_item.name %></td>
        <td><%= stock_item.description %></td>
        <td><%= stock_item.supplier %></td>
        <td><%= stock_item.expires %></td>
        <td><%= link_to 'Show', stock_item %></td>
        <td><%= link_to 'Edit', edit_stock_item_path(stock_item) %></td>
        <td><%= link_to 'Destroy', stock_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock Item', new_stock_item_path %>
