<p id="notice"><%= notice %></p>

<p>
  <strong>Item Code:</strong>
  <%= @stock_item.item_code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stock_item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @stock_item.description %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @stock_item.supplier %>
</p>

<p>
  <strong>Expires:</strong>
  <%= @stock_item.expires %>
</p>

<%= render 'items/table', items: @stock_item.items, name_type: :location %>

<%= link_to 'Edit', edit_stock_item_path(@stock_item) %> |
<%= link_to 'Back', stock_items_path %>
