<tr>
  <td><b><%= location.name.indent(depth,"&nbsp&nbsp&nbsp&nbsp").html_safe %></b></td>
  <td></td>
  <td></td>
  <% if order_to %>
    <td></td>
  <% end %>
</tr>
<% location.items.each do|item| %>
  <% item = item.item_summary %>
  <tr>
    <td><%= item.stock_item.name.indent(depth + 1,"&nbsp&nbsp&nbsp&nbsp").html_safe %></td>
    <td><%= item.total %>/<%= item.required %></td>
    <td><%= item.order_to %></td>
    <% if order_to %>
      <% if item.total >= item.required %>
        <td>0</td>
      <% else %>
        <td><%= item.order_to - item.total %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
