<h1>Reports:  locations</h1>
<h2>Location ID: <%= @item.first.location_id %> Name: <%= @item.first.location.name %></h2>

<table class="table">
  <tr>
    <th class="border">Stock Item</th>
    <th class="border">Stock Item ID</th>
    <th class="border">Amount</th>
    <th class="border">Order To</th>
  </tr>
  <% @gr_item.order(:stock_item_id).count.each do |count|  %>
  <% @item %>
    <tr>
      <td><%= @item.where(:stock_item_id => count[0]).first.stock_item.name %></td>
      <td><%= count[0] %></td>
      <td><%= count[1] %>   /<%= @item.where(:stock_item_id => count[0]).first.required %></td>
      <td><%= @item.where(:stock_item_id => count[0]).first.order_to %></td>
    </tr>
  <% end -%>
</table>
