<h1>Reports:  locations</h1>
<h2>Location ID: <%= params[:id]  %></h2> 

<table class="table">
    <tr>
      <th style="width=40%" class="border" >Stock Item </th>
      <th style="width=23%" class="border" >Amount/Required</th>

      <%if params[:order_to]%>
        <th class="border" >Order To (Amount to Order)</th>
      <%else%>
        <th class="border">Order To</th>  
      <% end %>

    </tr>
    <%@location.subtree.each do |location|%>
      <tr>
        <td>Location: <%=location.name%></td>
        <td></td>
        <td></td>
      </tr>
      <% @stock_items.where(items: {location: location}).each do |stock_item| %>
        <tr>
          <td><%= stock_item.name %></td>
          <td><%= stock_item.total %>/<%= stock_item.required %></td>

          <%if params[:order_to]%>
            <td><%= stock_item.order_to  %>(<%=stock_item.order_to-stock_item.total%>)</td>
          <%else%>
            <td><%= stock_item.order_to  %></td>
          <% end %>
        </tr>
      <%end%>   
    <%end%>    
</table>