<h1>Reports:  locations</h1>
<h2>Location ID: <%= params[:id]  %></h2> 

<table class="table">
  <tr>
    <th class="border">Stock Item</th>
    <th class="border">Amount</th>
    <th class="border">Order To</th>
  </tr>


  <% @stock_items.each do |stock_item| %>
    <tr>
      <td><%= stock_item.name %></td>
      <td><%= stock_item.total %>/<%= stock_item.required %></td>
      <td><%= stock_item.order_to  %></td>
    </tr>
  <% end %>
</table>
