<h1>Reports:  locations</h1>
<h2>Location ID: <%= params[:id]  %></h2> 

<table class="table">
  <tr>
    <th class="border">Stock Item</th>
    <th class="border">Stock Item ID</th>
    <th class="border">Amount</th>
    <th class="border">Order To</th>
  </tr>


  <% @items.each do |item| %>
    <tr>
      <td><%= item.stock_item.name %></td>
      <td><%= item.stock_item.id %></td>
      <td><%= item.total %>/<%= item.required %></td>
      <td><%= item.order_to  %></td>
    </tr>
  <% end %>
</table>
