<h1>Reports:  locations</h1>
  <h2>Location ID: <%= params[:id]  %></h2> 
<table class="table">
  <tr>
    <th class="border">Stock Item</th>
    <th class="border">Stock Item ID</th>
    <th class="border">Amount</th>
    <th class="border">Order To</th>
  </tr>
  
  
  <% for i in 0..@items_table.length-1 %>
    <tr>
      <td><%= @items_table[i][1] %></td>
      <td><%= @items_table[i][2] %></td>
      <td><%= @items_table[i][3] %>/<%= @items_table[i][4]%></td>
      <td><%= @items_table[i][5]  %></td>
    </tr>
  <% end %>
</table>
