<h1>Reports:  locations</h1>
<h2>Location ID: <%= params[:id]  %></h2> 
<table class="table">
  <%#Headder Row%>
  <tr>
    <th class="border">Stock Item</th>
    <th class="border">Amount / Required</th>
    <th class="border">Order To</th>
  </tr>
  <%@location.subtree.order(:id).each do |location|%>
  <tr>
    <td><%=location.name%></td>
    <td></td>
    <td></td>
  </tr>
    <%@location.stock_item_summaries.each do |location_table|%>
      <%if(location_table.total != nil)%>
        <tr>
          <td><%=location_table.stock_item.name%></td>
          <td><%=location_table.total%>/<%=location_table.required%></td>
          <td><%= location_table.order_to%></td>
        </tr>
      <%end%>
    <%end%>
  <%end%>
</table>
