<h1>Reports:  locations</h1>
<h2>Location ID: <%= params[:id]  %></h2> 
<%#Retaining in git for reference only. Remove later #TODO%>
<table class="table">
    <tr>
      <th  class="border" >Stock Item </th>
      <th  class="border" >Amount/Required</th>

      <%if params[:order_to]%>
        <th class="border" >Order To (Amount to Order)</th>
      <%else%>
        <th class="border">Order To</th>  
      <% end %>

    </tr>
    <%@location.subtree.order(:id).each do |location|%>
      <%tabs=location.ancestry.count("/")%>
      <tr>
        <td><strong><%=location.name.indent(tabs)%></strong></td>
        <td></td>
        <td></td>
      </tr>
      <% @stock_items.where(items: {location: location}).each do |stock_item| %>
        <tr>
          <td><%= stock_item.name.indent(tabs,"\"&nbsp;&nbsp;&nbsp;&nbsp;\"") %></td>
          <td><%= stock_item.total %>/<%= stock_item.required %></td>

          <%if params[:order_to]%>
            <td><%= stock_item.order_to  %>(<%=stock_item.order_to-stock_item.total%>)</td>
          <%else%>
            <td><%= stock_item.order_to  %></td>
          <% end %>
        </tr>
      <%end%>   
    <%end%>  
    <tr>
      <td><strong>Subtotals</strong></td>
      <td><strong>Amount/Required</strong></td>
      <td><strong>Order To</strong></td>
    </tr>
    <% @stock_items.each do |stock_item| %>
        <tr>
          <td><%= stock_item.name %></td>
          <td><%= stock_item.total %>/<%= stock_item.required %></td>

          <%if params[:order_to]%>
            <td><%= stock_item.order_to  %>(<%=stock_item.order_to-stock_item.total%>)</td>
          <%else%>
            <td><%= stock_item.order_to  %></td>
          <% end %>
        </tr>
    <%end%>  
</table>
<%@location.subtree.each do |place|%>
  <p><%=place.name%></p>
  <p><%=place.ancestry%></p>
  <%tabs=place.ancestry.count("/")%>
  <p><%=tabs.to_s.indent(tabs)%></p>
<%end%>