<%= javascript_tag do %>
  var tree = <%== render partial: "locations/tree", formats: [:json], object: @location.locations, as: :locations %>;
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Parent Location:</strong>
  <%= @location.parent_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<%= link_to 'Stock Take', stock_take_path(@location) %> |
<%= link_to 'Report', location_report_path(@location) %> |
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Delete', @location, method: :delete, data: { confirm: 'Are you sure?' } %>

<h2>Items</h2>
<%= render 'items/table', items: @location.items, name_type: :stock_item %>
<%= link_to 'Add Item', new_item_path(location_id: @location) %>

<h2>Sublocations</h2>
  <div id="tree"></div>
</table>
<%= link_to 'Add Sublocation', new_location_path(location_id: @location) %>

