<%= javascript_tag do %>
  var tree = <%== render partial: "locations/tree", formats: [:json], object: @location.locations, as: :locations %>;
<% end %>

<p>
  <strong>Parent Location:</strong>
  <%= @location.parent_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<% links = [] %>
<% if can? :location, :stock_take %>
  <% links.push(link_to 'Stock Take', stock_take_path(@location)) %>
<% end %>

<% if can? :location, :reports %>
  <% links.push(link_to 'Report', location_report_path(@location)) %>
<% end %>

<% if can? :edit, @location %>
  <% links.push(link_to 'Edit', edit_location_path(@location)) %>
<% end %>

<% if can? :destroy, @location %>
  <% links.push(link_to 'Delete', @location, method: :delete, data: { confirm: 'Are you sure?' }) %>
<% end %>

<%== links.join(' | ') %>


<h2>Items</h2>
<%= render 'items/table', items: @location.items, name_type: :stock_item %>

<% if can? :create, Item %>
  <%= link_to 'Add Item', new_item_path(location_id: @location) %>
<% end %>

<h2>Sublocations</h2>
<div id="tree"></div>

<% if can? :create, Location %>
  <%= link_to 'Add Sublocation', new_location_path(location_id: @location) %>
<% end %>
