<%# Render location tree as javascript %>
<%# This must be in the body as otherwise turbolinks will prevent refreshing %>
<%= javascript_tag do %>
  var tree = <%== render partial: "locations/tree", formats: [:json], object: @locations_tree, as: :locations_tree %>;
<% end %>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<%# Add links that user has permission to access %>
<% links = [] %>
<% if can? :location, :stock_take %>
  <% links.push(link_to 'Stock Take', stock_take_path(@location)) %>
<% end %>

<% if can? :edit, @location %>
  <% links.push(link_to 'Edit', edit_location_path(@location)) %>
<% end %>

<% if can? :destroy, @location %>
  <% links.push(link_to 'Delete', @location, method: :delete, data: { confirm: 'Are you sure?' }) %>
<% end %>

<%# Display links %>
<%== links.join(' | ') %>

<%= render 'locations/report_form', location: @location %>

<%# Render a table containing all items which are present at location %>
<h2>Items</h2>
<%= render 'items/table', items: @items, name_type: :stock_item %>

<%# Add link to create new item if user has permission %>
<% if can? :create, Item %>
  <%= link_to 'Add Item', new_item_path(location_id: @location) %>
<% end %>

<h2>Sublocations</h2>
<%# Placeholder for bootstrap tree %>
<div id="tree"></div>

<%# Add link to create new location below current location %>
<% if can? :create, Location %>
  <%= link_to 'Add Sublocation', new_location_path(parent_id: @location) %>
<% end %>
