<!DOCTYPE html>
<html>
  <head>
    <title>Charlotte</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body>
    <div class="container-fluid">
      <ol class="breadcrumb">
        <%= render_breadcrumbs :tag => :li, :separator => "" %>
        <% if user_signed_in? %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "pull-right" %>
        <% end %>
      </ol>


      <%= yield %>
    </div>
  </body>
</html>
